AZURE_DEVOPS_ORG=contoso
AZURE_DEVOPS_AUTHENTICATION=pat
AZURE_DEVOPS_PAT=
AZURE_DEVOPS_PAT_EMAIL=pat
AZURE_DEVOPS_MCP_DOMAINS=core,work-items,repositories,pipelines
AZURE_DEVOPS_PROJECT=
AZURE_DEVOPS_TEAM=
AZURE_DEVOPS_MCP_PACKAGE=@azure-devops/mcp
